.scroll-container {
  display: flex;
  height: 80%;
}

.scroll-itemText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
}

.scroll-itemButton {
   height: 20px;
   width: min-content;
}